* {
    background-color: #0d0711;
}
knob {
    width: 50px;
    height: 50px;
}
knob .tick {
    background-color: #eeece4be;
}
knob .track {
    background-color: #ad3af5;
}
mseg {
    height: 100px;
    background-color: #170a1f;
}
mseg-graph {
    border-color: #ad3af5;
    color: #ffd000;
}
zoomer {
    background-color: #1e1125;
}
zoomer .bar {
    background-color: #2f1d38;
}
zoomer .handle {
    background-color: #6e2197;
    border-color: #ffffff5b;
}
label {
    width: 1s;
    color: #ffffff;
}
